<ul id="collection-loop" style="width: 100%">
  {% for collection in collections %}
    {% if collection.handle == "new" %}

      <li class="product desktop-6 mobile-3" data-alpha="{{ collection.title }}">     
        <div class="collection-image">
          <a href="{{ collection.url }}" title="{{ collection_title }}">
              {% if collection.image %}
                {{ collection.image.src | collection_img_url: 'original' | img_tag: collection_title }}
              {% else %}
                <!-- Do nothing -->
              
          </a>     
        </div>

        <div id="product-info">
          <a href="{{ collection.url }}" title="{{ collection_title }} collection">
            <h3>{{ collection.title }}</h3>
          </a>
        </div>
            {% endif %}
      </li>
    {% endif %}
  {% endfor %}

<!-- TOTALLY NOT DRY CODE -->
  {% for collection in collections %}
    {% if collection.handle != "new" %}

      <li class="product desktop-6 mobile-3" data-alpha="{{ collection.title }}">     
        <div class="collection-image">
          <a href="{{ collection.url }}" title="{{ collection_title }}">
              {% if collection.image %}
                {{ collection.image.src | collection_img_url: 'original' | img_tag: collection_title }}
              {% else %}
                <!-- Do nothing -->
              
          </a>     
        </div>

        <div id="product-info">
          <a href="{{ collection.url }}" title="{{ collection_title }} collection">
            <h3>{{ collection.title }}</h3>
          </a>
        </div>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>